﻿@inherits LayoutComponentBase

<MUZIC.App.Component.Admin.Common.NavBar/>
<div class="admin-main-contain">
    <MUZIC.App.Component.Admin.Common.Header/>
    <div class="admin-body">
        @Body
    </div>
</div>