﻿@inherits LayoutComponentBase
@using Imagekit
@using MUZIC.App.Component.User.Common
@using MUZIC.App.Component.User.Profile
@using MUZIC.App.Utility
@layout UserLayout
@inject IJSRuntime JS
@inject NavigationManager NM
@inject State state


<div class="profile-container">
    <div class="profile-name">Profile</div>
    <div class="profile-tabs">
        <div class="user-info">
            <div class="user-img">
                @if (disabledThumbnail)
                {
                    <Loading />
                }
                <InputFile type="file" accept="image/*"
                           name="newplaylist-thumbnail-input"
                           class="avatar-profile-layout-file" OnChange=@ChangeThumbnail />
                <img src=@Util.GetImage(state.Account!.Avatar, new Transformation().Width(64).Height(68))
                     alt=""
                     class="avatar-profile-layout" />
            </div>
            <div class="user-name">@state.Account.DisplayName</div>
            <div class="user-muzic-id">Muzic id: @state.Account.Username</div>
        </div>
        <div class="tabs-container">
            <NavLink href="/profile" class="mysong" Match="NavLinkMatch.All">My Song</NavLink>
            <div class="wall"></div>
            <NavLink href="/profile/playlist" class="myplaylist">My Playlist</NavLink>
            <div class="wall"></div>
            <NavLink href="/profile/setting" class="setting ">Settings</NavLink>
            <div class="wall"></div>
            <NavLink href="/profile/favorite" class="myfavorite">My Favorite</NavLink>
        </div>
        <div>
            <a class="sign-out" href="/logout">
                <div class="sign-out-inner">Sign out</div>
                <i class="fal fa-sign-out"></i>
            </a>
        </div>
    </div>
    @Body
</div>

@code {
    private bool disabledThumbnail = false;

    async Task ChangeThumbnail(InputFileChangeEventArgs e)
    {
        var file = e.File;
        disabledThumbnail = true;
        var res = await Util.UploadFile("/MUZIC/img/", file);
        state.Account!.Avatar = res.URL;
        disabledThumbnail = false;
        await SettingService.UpdateAvatar(state.Account.Username, state.Account.Avatar);
        await ((Func<Task>)state["_update_acc"]!)();
    }
}
