html {
    min-height: 100vh;
}

.content-box {
    display: flex;
    margin-left: 13%;
    margin-top: 60px;
    flex-direction: column;
}

.flex-container {
    display: flex;
}

.navbar-flex {
    width: 13%;
    position: fixed;
    inset: 0;
    background-color: #16151a;
}

.navbar-flex h1 {
    font-size: 26px;
    color: #fff;
}
.navbar-flex .nav-header {
    display: inline-block;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    margin-bottom: 20%;
}
.navbar-flex .nav-header #nav-title {
    float: right;
    margin-right: 24%;
    margin-top: 10%;
    font-size: 22px;
    font-family: "Mulish";
    font-weight: bold;
    color: #fff;
}
.navbar-flex .nav-header #nav-title a {
    padding-bottom: 20%;
    text-decoration: none;
}
.navbar-flex .nav-header img {
    width: 40%;
    height: 40%;
}
.navbar-flex .nav-line {
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 5%;
    width: 90%;
}
.navbar-flex a {
    font-family: "Mulish";
    font-weight: lighter;
    text-align: left;
    width: 100%;
    display: inline-block;
    color: #fff;
    background-color: rgb(255, 255, 255, 0);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 15%;
    text-decoration: none;
}
.navbar-flex a i {
    margin-right: 7%;
}
