﻿@page "/rank/"
@using MUZIC.App.Component.User.Home
@layout UserLayout
@inject State state
@inject IJSRuntime JS

<PageTitle>Ranking</PageTitle>

<div class="ranking-container">
    <div class="chart-title">#MUZICCHART</div>
    <div class="chart-tab">
        <div @onclick="()=>SwitchTab(1)" class="tab-view @TabViewChart">VIEW</div>
        <div class="wall"></div>
        <div @onclick="()=>SwitchTab(2)" class="tab-favorite @TabFavoriteChart">FAVORITE</div>
    </div>
    <!-- chart -->
    <div class="chart-container">
        <canvas id="myChart" height="350"></canvas>
    </div>

    <!-- top muzic chart -->

    <div class="top-muzic-view-chart-title"> TOP MUZIC CHART</div>
    <div class="top-muzic-chart-container">
        @if (ListTopChart.Count != 0)
        {
            @if (IsActiveTopChart == 1)
            {
                for (var i = 0; i < ListTopChart.Count; i++)
                {
                    <RankingComponentSong Number=@(i+1) Type=IsActiveTopChart Song=ListTopChart[i] />
                }
            }
            else if (IsActiveTopChart == 2)
            {
                for (var i = 0; i < ListTopChart.Count; i++)
                {
                    <RankingComponentSong Number=@(i+1) Type=IsActiveTopChart Song=ListTopChart[i] />
                }
            }
        }
        else
        {
            <h1 class="component-null">Top Muzic chart do not have any song!</h1>
        }

    </div>

    <!-- topsong -->

    <div class="top-muzic-view-chart-title"> TOP 50 SONG</div>

    <div class="chart-tab">
        <div @onclick="()=>SwitchTab(3)" class="tab-view @TabViewSong">VIEW</div>
        <div class="wall"></div>
        <div @onclick="()=>SwitchTab(4)" class="tab-favorite @TabFavoriteSong">FAVORITE</div>
    </div>

    <div class="top-muzic-chart-container @ViewMoreSong">
        @if (ListTopSong.Count != 0)
        {
            @if (IsActiveTopSong == 3)
            {
                for (var i = 0; i < ListTopSong.Count; i++)
                {
                    <RankingComponentSong Number=@(i+1) Type=IsActiveTopSong Song=ListTopSong[i] />
                }
            }
            else if (IsActiveTopSong == 4)
            {
                for (var i = 0; i < ListTopSong.Count; i++)
                {
                    <RankingComponentSong Number=@(i+1) Type=IsActiveTopSong Song=ListTopSong[i] />
                }
            }

        }
        else
        {
            <h1 class="component-null">Top 50 song do not have any song!</h1>

        }

    </div>
    <div class="view-more-btn">
        <button @onclick="btnViewMoreSong" class="btn-ranking-song">@txtViewSong</button>
    </div>
    <!-- top playlist -->
    <div class="top-muzic-view-chart-title"> TOP 50 PLAYLIST</div>
    <div class="chart-tab">
        <div @onclick="()=>SwitchTab(5)" class="tab-view @TabViewPlaylist">VIEW</div>
        <div class="wall"></div>
        <div @onclick="()=>SwitchTab(6)" class="tab-favorite @TabFavoritePlaylist">FAVORITE</div>
    </div>

    <div class="top-muzic-chart-container @ViewMorePlaylist">
        @if (ListTopPlaylist.Count != 0)
        {
            @if (IsActiveTopPlaylist == 5)
            {
                for (var i = 0; i < ListTopPlaylist.Count; i++)
                {
                    <RankingComponentPlaylist Number=@(i+1) Type=IsActiveTopPlaylist Playlist=ListTopPlaylist[i] />
                }
            }
            else if (IsActiveTopPlaylist == 6)
            {
                for (var i = 0; i < ListTopPlaylist.Count; i++)
                {
                    <RankingComponentPlaylist Number=@(i+1) Type=IsActiveTopPlaylist Playlist=ListTopPlaylist[i] />
                }
            }


        }
        else
        {
            <h1 class="component-null">Top 50 playlist do not have any playlist!</h1>

        }

    </div>
    <div class="view-more-btn">
        <button @onclick="btnViewMorePlaylist" class="btn-ranking-playlist">@txtViewPlaylist</button>
    </div>
</div>

@code {
    List<TopSong> ListTopChart = new List<TopSong>();
    List<TopSong> ListTopSong = new List<TopSong>();
    List<TopPlaylist> ListTopPlaylist = new List<TopPlaylist>();

    public int IsActiveTopChart = 1;
    public int IsActiveTopSong = 3;
    public int IsActiveTopPlaylist = 5;

    public string TabViewChart = "color-orange";
    public string TabFavoriteChart = "";
    public string TabViewSong = "color-orange";
    public string TabFavoriteSong = "";
    public string TabViewPlaylist = "color-orange";
    public string TabFavoritePlaylist = "";
    public string ViewMoreSong = "";
    public string ViewMorePlaylist = "";
    public bool IsViewSong = false;
    public bool IsViewPlaylist = false;
    public string txtViewSong = "VIEW MORE";
    public string txtViewPlaylist = "VIEW MORE";

    public void btnViewMoreSong()
    {
        IsViewSong ^= true;
        ViewMoreSong = IsViewSong ? "active-ranking" : "";
        txtViewSong = IsViewSong ? "VIEW LESS" : "VIEW MORE";
    }
    public void btnViewMorePlaylist()
    {
        IsViewPlaylist ^= true;
        ViewMorePlaylist = IsViewPlaylist ? "active-ranking" : "";
        txtViewPlaylist = IsViewPlaylist ? "VIEW LESS" : "VIEW MORE";
    }

    protected override async Task OnInitializedAsync()
    {
        await GetDataRanking(1);
        await GetDataRanking(3);
        await GetDataRanking(5);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender) await SwitchTab(1);
    }

    private async Task updateTop5Chart()
    {
        var dataVal = new List<int>[ListTopChart.Count];
        var dataLabel = new string[ListTopChart.Count];
        for (int i = 0; i < dataVal.Length; ++i)
        {
            if (IsActiveTopChart == 1) dataVal[i] = await TrackingService.GetSongViewDataYesterday(ListTopChart[i].Id);
            else dataVal[i] = await TrackingService.GetSongFavoriteDataYesterday(ListTopChart[i].Id);
            dataLabel[i] = ListTopChart[i].Title!;
        }
        await JS.InvokeVoidAsync("show_chart", dataVal, dataLabel);
    }

    public async Task GetDataRanking(int type)
    {
        var yesterday = DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd");
        //yesterday = "2022-03-21";
        switch (type)
        {
            case 1:
                ListTopChart = await TrackingService.GetTopViewSong(yesterday, 5);
                ListTopChart.Sort((a, b) => b.cnt - a.cnt);
                break;
            case 2:
                ListTopChart = await TrackingService.GetTopFavoriteSong(yesterday, 5);
                ListTopChart.Sort((a, b) => b.cnt - a.cnt);
                break;
            case 3:
                ListTopSong = await TrackingService.GetTopViewSongAllTime(50);
                ListTopSong.Sort((a, b) => b.cnt - a.cnt);
                break;
            case 4:
                ListTopSong = await TrackingService.GetTopFavoriteSongAllTime(50);
                ListTopSong.Sort((a, b) => b.cnt - a.cnt);
                break;
            case 5:
                ListTopPlaylist = await TrackingService.GetTopViewPlaylistAllTime(50);
                ListTopPlaylist.Sort((a, b) => b.cnt - a.cnt);
                break;
            case 6:
                ListTopPlaylist = await TrackingService.GetTopFavoritePlaylistAllTime(50);
                ListTopPlaylist.Sort((a, b) => b.cnt - a.cnt);
                break;
        }
    }

    public async Task SwitchTab(int ActiveTab)
    {
        if (ActiveTab == 1)
        {
            TabViewChart = "color-orange";
            TabFavoriteChart = "";
            IsActiveTopChart = 1;
            await GetDataRanking(1);
            await updateTop5Chart();
        }
        if (ActiveTab == 2)
        {
            TabViewChart = "";
            TabFavoriteChart = "color-orange";
            IsActiveTopChart = 2;
            await GetDataRanking(2);
            await updateTop5Chart();
        }
        if (ActiveTab == 3)
        {
            TabViewSong = "color-orange";
            TabFavoriteSong = "";
            IsActiveTopSong = 3;
            await GetDataRanking(3);
        }
        if (ActiveTab == 4)
        {
            TabViewSong = "";
            TabFavoriteSong = "color-orange";
            IsActiveTopSong = 4;
            await GetDataRanking(4);
        }
        if (ActiveTab == 5)
        {
            TabViewPlaylist = "color-orange";
            TabFavoritePlaylist = "";
            IsActiveTopPlaylist = 5;
            await GetDataRanking(5);
        }
        if (ActiveTab == 6)
        {
            TabViewPlaylist = "";
            TabFavoritePlaylist = "color-orange";
            IsActiveTopPlaylist = 6;
            await GetDataRanking(6);
        }

    }

}

