﻿@page "/testmp3"
@layout UserLayout
@inject Mp3 mp3

<h2>Test Mp3 Functionality</h2>

<button @onclick="async () => await mp3.AddSong(await li[0])">add song 1</button>
<button @onclick="async () => await mp3.AddSong(await li[1])">add song 2</button>
<button @onclick="async () => await mp3.PlaySong(await li[2])">play song 3</button>

@code {
    public List<Task<Song>> li = new() {
        SongService.GetSong(15)!,
        SongService.GetSong(16)!,
        SongService.GetSong(17)!
    };
}