﻿@using MUZIC.Model
@implements IDisposable
@inject State state
@inject NavigationManager NavigationManager

<header class="header">
    <div class="search">
        <div class="search-box">
            <input type="text"
                   class="search-input"
                   placeholder="Song, playlist"
                   @bind-value="word" @bind-value:event="oninput" @onkeydown="KeyboardEventHandler" />
            <a href="javascript:void(0);" @onclick=DoSearch><i class="fas fa-search search-icon"></i></a>
        </div>
        <ul class="suggest-list" style="@Visibility">
            <div class="suggest-list-content">
                <div class="search-title">
                    Related keywords
                </div>
                @if (SongsSort is not null && SongsSort.Count > 0)
                {
                    @foreach (var Song in SongsSort)
                    {
                    <li class="suggest-item" @onclick="() => DoClickSearch(Song.Title!)">
                        <i class="fas fa-search suggest-item-icon"></i>
                        <div class="suggest-item-name">
                            <span>@Song.Title</span>
                        </div>
                    </li>
                    }
                }
                else
                {
                <li class="suggest-item">
                    <i class="fas fa-search suggest-item-icon"></i>
                    <div class="suggest-item-name">
                        <span>No related keyword found</span>
                    </div>
                </li>
                }
            <div class="suggestion">
                <div class="search-title">
                    Proposed results
                </div>
                    @if (Songs is not null)
                    {
                        @foreach (var Song in Songs)
                        {
                    <li class="suggest-item">
                        <a href="/song/@(Song.Id)" class="suggest-media">
                            <div class="suggest-media-left">
                                <img src="@Song.Thumbnail"
                             alt="song image"
                             class="suggest-media-img" />
                                <i class="fas fa-play suggest-media-icon"></i>
                            </div>
                            <div class="suggest-media-right">
                                <p class="suggest-media-title">
                                            @Song.Title
                                </p>
                                <p class="suggest-media-subtitle">
                                            @Song.Artist
                                </p>
                            </div>
                        </a>
                    </li>
                        }
                    }
                    else
                    {
                <li class="suggest-item">
                    <i class="fas fa-search suggest-item-icon"></i>
                    <div class="suggest-item-name">
                        <span>No related song found</span>
                    </div>
                </li>
                    }
    </div>
    </div>
    </ul>
    </div>
    <div class="account">
        <div class="avatar">
            @if (state.Account is null)
            {
                <a href="/login" style="text-decoration: none; color: white">
                    <span>@("Sign in")</span>
                    <i class="fal fa-user"></i>
                </a>
            }
            else
            {
                <span>@state.Account.DisplayName</span>
                <div class="avatar-subnav">
                    <img src="@state.Account.Avatar"
                     alt="avatar"
                     class="avatar-img" />
                    <ul class="subnav-list">
                        <a href="/profile/setting">
                        <li class="subnav-list-item">
                            Settings <i class="fal fa-user-cog"></i>
                        </li>
                        </a>

                        <a href="/logout">
                        <li class="subnav-list-item">
                            Sign out <i class="fal fa-sign-out"></i>
                        </li>
                        </a>

                        @if (state.Account.IsAdmin)
                        {
                            <a href="/admin" target="_blank">
                            <li class="subnav-list-item">
                                Admin <i class="fal fa-user-crown"></i>
                            </li>
                            </a>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</header>

@code {
    string word = "";
    string currentUri = "";
    private List<Song>? Songs { get; set; } = new List<Song>();
    private List<Song>? SongsSort { get; set; } = new List<Song>();
    private string Visibility = "visibility:hidden;";
    
    private async Task KeyboardEventHandler(KeyboardEventArgs evt)
    {
        if (evt.Code == "Enter")
        {
            DoSearch();
        }
        else if (word != "" && word != null)
        {
            await LoadSongs();
        }
    }
    
    private async Task LoadSongs()
    {
        Songs = await SongService.GetTitle(word);
        if (Songs is not null)
        {
            SongsSort = Songs!.OrderBy(e => e.Title).ToList();
            Visibility = "visibility:visible;";
        }
        else
        {
            SongsSort = new List<Song>();
        }
    }

    protected override void OnInitialized()
    {
        currentUri = NavigationManager.Uri;
        _ = AdminService.InsertWebtracking(state.Account?.Username, currentUri);
        NavigationManager.LocationChanged += OnLocationChanged;
        state["_update_acc"] = async () =>
        {
            state["_acc"] = await State.GetAccount(state.Context);
            state._acc.init = false;
            await InvokeAsync(StateHasChanged);
        };
    }

    private void DoSearch()
    {
        VisibleSearch();
        NavigationManager.NavigateTo($"/search?query={word}");
    }
    
    private void DoClickSearch(string word)
    {
        VisibleSearch();
        this.word = word;
        NavigationManager.NavigateTo($"/search?query={word}");
    }

    private void VisibleSearch()
    {
        Visibility = "visibility:hidden;";
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        if (currentUri == e.Location) return;
        currentUri = e.Location;
        _ = AdminService.InsertWebtracking(state.Account?.Username, currentUri);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}