﻿<div class="media-player">
    <div class="media">
        <img src="/img/upload-thumbnail.jpg"
             alt="Song Thumbnail"
             class="media-thumbnail" />
        <div class="media-content">
            <h2 class="media-content-title">(Empty queue)</h2>
            <h2 class="media-content-author">Unknown</h2>
        </div>
    </div>

    <div class="player-control">
        <div class="player-control-main">
            <div class="player-control-btns">
                <i class="disable toggle fal fa-random" id="mp3-shuffle"></i>
                <i class="disable fal fa-arrow-alt-to-left" id="mp3-prev"></i>
                <i class="disable fal fa-play" id="mp3-play"></i>
                <i class="disable fal fa-arrow-alt-to-right" id="mp3-next"></i>
                <i class="disable toggle fal fa-repeat-alt" id="mp3-repeat"></i>
            </div>
            <div class="progress-bar">
                <span class="time-start" id="mp3-time-start">00:00</span>
                <input id="progress-song-input"
                       class="input-range progress-song-input"
                       type="range"
                       value="0"
                       step="0.001"
                       min="0"
                       max="100" />
                <span class="time-end" id="mp3-time-end">00:00</span>
            </div>
        </div>
    </div>
    <div class="player-control-volume">
        <i id="mp3-mute" class="fal fa-volume-off"></i>
        <input id="player-control-volume"
               class="input-range volume-input"
               type="range"
               value="1"
               step="0.01"
               min="0"
               max="1" />
        <i class="fal fa-volume"></i>
    </div>
    <div class="toggle-media-player-container">
        <i class="toggle-media-player fal fa-arrow-circle-right"></i>
    </div>
</div>

<div class="media-queue">
    <div class="queue-close-btn">
        <i class="fal fa-times"></i>
    </div>
    <h1 class="queue-title">Queue</h1>
    <div class="list-song">
    </div>
    <div class="queue-btns">
        <button id="clear_btn" class="btn btn--secondary btn--size-s">Clear</button>
        <button id="save_btn" class="btn btn--secondary btn--size-s">Save</button>
    </div>
</div>


<audio id="mp3-player" crossorigin="anonymous"></audio>
<div id="audio-visual-container">
    <canvas id="audio-visual-canvas"></canvas>
</div>