﻿@page "/login"
@namespace MUZIC.App.Pages.Login
@model loginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="MUZIC.App.styles.css" rel="stylesheet" />
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="/css/login/SignIn.css" />
</head>
<body>
    <div class="model-signIn-container">
        <img src="/img/logo.png" class="signIn-logo" />
        <img src="/img/signIn.png" class="signIn-figure" />
        <div class="model-input">
            <div class="model-input-name">Sign in</div>
            @if (TempData["message"] is not null)
            {
                <b>@TempData["message"]</b>
            }
            <div class="model-input-slogan">Login to manage your account</div>
            <form action="" method="post">

                <label for="username" class="input-label">User name</label><br />
                <div class="input-component">
                    <i class="fal fa-user"></i>
                    <input type="text" name="username" id="username" placeholder="Enter user name" class="input-data" required />
                </div>


                <label for="password" class="input-label">Password</label><br />
                <div class="input-component">
                    <i class="fal fa-key"></i>
                    <input type="password" name="password" id="password" placeholder="Enter password" class="input-data" required />
                    <i class="fal fa-eye-slash" id="eye-change"></i>
                </div>

                <div class="remember">
                    <input type="checkbox" name="checkbox" class="check" id="checkbox" />
                    <label for="checkbox" class="remember-label">Remember me</label>
                </div>

                <input type="submit" name="save" value="Login" />
            </form>

            <div class="new-account">
                Create a new account?
                <a href="/register" class="link-signup">Sign up</a>
            </div>

        </div>
    </div>
    <script src="/js/login/SignIn.js"></script>
</body>
</html>
