﻿@page "/register"
@namespace MUZIC.App.Pages.Login
@model registerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link href="MUZIC.App.styles.css" rel="stylesheet" />
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="/css/login/SignUp.css" />
</head>
<body>
    <div class="model-signIn-container">
        <img src="/img/logo.png" class="signIn-logo" />
        <img src="/img/signUp.png" class="signIn-figure" />
        <div class="model-input">
            <div class="model-input-name">Create your account</div>
            <div class="model-input-slogan">Login to manage your account</div>
            @if (TempData["message"] is not null)
            {
                <b>@TempData["message"]</b>
            }
            <form method="POST">
                <label for="username" class="input-label">User name</label><br />
                <div class="input-component">
                    <i class="fal fa-user"></i>
                    <input type="text" name="username" id="username" placeholder="Enter user name" class="input-data" required />
                </div>


                <label for="email" class="input-label">Email</label><br />
                <div class="input-component">
                    <i class="fal fa-user"></i>
                    <input type="email" name="email" id="email" placeholder="Enter email" class="input-data" required />
                </div>


                <label for="password" class="input-label">Password</label><br />
                <div class="input-component">
                    <i class="fal fa-key"></i>
                    <input type="password" name="password" id="password" placeholder="Enter password" class="input-data" required />
                    <i class="fal fa-eye-slash" id="eye-change1"></i>
                </div>

                <label for="passwordAgain" class="input-label">Password again</label><br />
                <div class="input-component">
                    <i class="fal fa-key"></i>
                    <input type="password" name="passwordAgain" placeholder="Enter password again" id="passwordAgain" class="input-data" required />
                    <i class="fal fa-eye-slash" id="eye-change2"></i>
                </div>


                <div class="remember">
                    <input type="checkbox" name="checkbox" class="check" id="checkbox" required />
                    <label for="checkbox" class="remember-label">I agree to Terms & Conditions</label>
                </div>


                <input type="submit" name="save" value="Create my account" />
            </form>

            <div class="have-account">
                Already have an account?
                <a href="/login" class="link-signup">Sign in</a>
            </div>

        </div>
    </div>
    <script src="/js/login/SignUp.js"></script>
</body>
</html>
