﻿body {
background-color: #16151A;
}

.main-content {
background-color: #16151A;
position: relative;
}

.slideshow-container {
max-width: 95%;
position: relative;
margin: auto;
padding-top: 2%;
}

.mySlides {
display: none;
width: 100%;
border-radius: 10px;
border: 2px solid transparent;
}

.mySlides .mySlides-img {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    border: 2px solid transparent;
    object-fit: cover;
}

.prev, .next {
cursor: pointer;
position: absolute;
bottom: 2%;
right: 4%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
right: 2%;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: #F46530;
}

.text-heading {
    color: #f2f2f2;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    left: 7%;
    top: 30%;
    width: 70%;
}

.text-paragraph {
    color: #f2f2f2;
    font-size: var(--fontSize1);
    padding: 8px 12px;
    position: absolute;
    left: 7%;
    top: 50%;
    width: 69%;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.btn-slide {
    position: absolute;
    width: 40%;
    height: 15%;
    left: 7%;
    top: 70%;
    display: flex;
}

.btn-slide .btn-slide-1, .btn-slide .btn-slide-2 {
    width: 201px;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}

.btn-slide .btn-slide-1 .btn-slide-text, .btn-slide .btn-slide-2 .btn-slide-text {
    font-size: var(--fontSize1);
    padding-top: 11%;
}

.btn-slide .btn-slide-1 {
    background-color: #F46530;
}

.btn-slide .btn-slide-2 {
    margin-left: 8%;
    background-color: #222227;
}

    .btn-slide .btn-slide-1:hover, .btn-slide .btn-slide-2:hover {
        color: #F46530;
        background-color: #222227;
    }

.dot {
cursor: pointer;
height: 4px;
width: 10px;
margin: 0 3px;
margin-bottom: 3px;
background-color: #bbb;
border-radius: 4%;
display: inline-block;
transition: background-color 1s ease;
position: absolute;
bottom: 5%;
}

.dot1 {
right: 10%;
}

.dot2 {
right: 9%;
}

.dot3 {
right: 8%;
}

.slideshow-container .dot.active, .dot:hover {
    background-color: #F46530;
    width: 15px;
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {
    opacity: .4
}

to {
    opacity: 1
}
}

@keyframes fade {
from {
    opacity: .4
}

to {
    opacity: 1
}
}


/* SLIDESHOW 2 CAC BAI HAT*/
.slide-container {
position: relative;
}


.mySlides2 {
display: none;
}


.cursor {
cursor: pointer;
}


.prev2,
.next2 {
cursor: pointer;
position: absolute;
top: 60%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}


.next2 {
right: 27px;
border-radius: 3px 0 0 3px;
}

.prev2 {
left: 3%;
}


.prev2:hover,
.next2:hover {
    color: #F46530;
}

.heading-body .text-head-body {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
    margin-left: 3%;
    margin-bottom: 2%;
}

.column .column-img {
    border-radius: 4%;
}

.column-link-text {
    height: 50px;
    background-color: #715B5F;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.column-link-text2 {
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 3;
    cursor: pointer;
}

.column-link-text .column-link-text-name, .column-link-text2 .column-link-text-name {
    font-size: var(--fontSize1);
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
}

.column-link-text2 .column-link-text-name {
    overflow-wrap: break-word;
}

.column-link-text .column-link-text-artist, .column-link-text2 .column-link-text-artist {
    font-size: var(--fontSize2);
    font-weight: lighter;
    padding-top: 2%;
    color: #C0C0C0;
    overflow: hidden;
}

.column-hover {
    display: none;
    position: relative;
}

.column-hover .song-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.column-hover .song-hover .song-link {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.column-hover .song-hover .song-link .song-hover-link {
    width: 50px;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    z-index: 3;
}

.column-hover .song-hover .song-link .song-hover-link .heart-btn:hover,
.column-hover .song-hover .song-link .song-hover-link .play-btn:hover,
.column-hover .song-hover .song-link .song-hover-link .ellipsis-btn:hover {
    opacity: 0.5;
    color: white;
    cursor: pointer;
}

.column-hover .img-hover .column-hover-img {
    height: 340px;
}

.demo {
height: 290px;
}

.column-hover .background-hover {
    background-color: rgba(244, 100, 48, 0.699);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.column {
-webkit-animation: fadeSlideEffect 1s;
animation: fadeSlideEffect 1s;
}

@-webkit-keyframes fadeSlideEffect {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

@keyframes fadeSlideEffect {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

#column-content:hover .column-img, #column-content:hover .column-link-text {
    display: none;
}
#column-content:hover .column-hover {
    display: block;
}
/* SLIDE2 END HERE*/
/* MOST POPULAR BEGIN HERE*/
.most-popular-container {
    background-color: #16151A;
    padding-top: 4%;
    max-width: 95%;
    margin: auto;
}

.most-popular-container .most-title {
    font-size: 30px;
    font-weight: 100;
}

.most-popular-container .most-para {
    font-size: var(--fontSize1);
    font-weight: 100;
    color: #C0C0C0;
    margin-top: 1%;
    margin-bottom: 1%;
}

.search-text-bestmatch {
font-size: var(--fontSize1);
padding-left: 1%;
margin-top: 1%;
}

.tab {
overflow: hidden;
background-color: #16151A;
}

.tab .tablinks {
    color: #C0C0C0;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: var(--fontSize1);
    font-weight: 100;
    width: auto;
}

    .tab .tablinks:hover {
        border-bottom: 2px solid #F46530;
    }

    .tab .tablinks.active {
        border-bottom: 2px solid #F46530;
    }

.most-list-song {
margin-top: 2%;
margin-bottom: 2%;
}

.most-list-song .tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    position: relative;
}

@-webkit-keyframes fadeEffect {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

@keyframes fadeEffect {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

.most-list-song .tabcontent .song-item {
max-width: 100%;
display: flex;
align-items: center;
justify-content: normal;
padding: 10px;
gap: 20px;
background-color: rgba(34, 38, 39, 0.774);
}

.most-list-song .tabcontent .song-item:hover {
    background-color: #61616F;
}

.most-list-song .tabcontent .song-item-even {
    background-color: #16151A;
}

.most-list-song .tabcontent .song-item .song-img {
    width: 86px;
    height: 85px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

.most-list-song .tabcontent .song-item .song-item-content {
    flex-basis: 50%;
    padding-left: 10px;
    cursor: pointer;
}

.most-list-song .tabcontent .song-item .song-item-content .author {
    font-size: var(--fontSize2);
    font-weight: 100;
    color: #C0C0C0;
}

.most-list-song .tabcontent .song-item .song-item-content .title {
    font-size: var(--fontSize1);
    font-weight: bold;
    margin-bottom: 10px;
}

.most-list-song .tabcontent .song-item .song-item-content .author-title {
    font-size: var(--fontSize2);
    font-weight: bold;
}

.tabcontent .song-item-tool .item-icon {
margin: 0 40px;
}

.tabcontent .song-item-tool .item-icon-2 {
width: 50px;
height: 50px;
color: #F46530;
background-color: rgb(244, 101, 48, 0.15);
border-radius: 15%;
text-align: center;
padding-top: 5px;
}

.song-item-tool .item-icon:hover {
cursor: pointer;
opacity: 0.8;
}

.tabcontent .tool1 {
flex-basis: 10%;
padding-left: 10px;
}

.tabcontent .tool2 {
display: flex;
flex-direction: row;
flex-basis: 20%;
padding-left: 10%;
}

.tabcontent .song-item-time {
    flex-basis: 10%;
    padding-left: 2%;
}

.tabcontent .song-item-time .song-item-text {
    font-size: var(--fontSize1);
    padding-right: 10px;
}


/* SLIDE 3 BEGIN HERE*/
.slide-3 {
    margin-bottom: 10%;
}

/* POP UP WHEN CLICK PLAY BUTTON HERE*/
.song-item-tool {
    position:relative;
}

.popup-play-content {
    position: absolute;
    top: calc(49% - 20px);
    left: calc(50% + 20px);
    width: 190px;
    background-color: #151123f4;
    border: 2px solid #151123f4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 20px;
    z-index: 22;
}

.popup-play-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
}

.popup-play-content .popup-play-content-item {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.popup-play-content .popup-play-content-item:hover {
    color: #F46530;
}

.popup-play-content .popup-play-content-item .popup-play-content-item-icon {
    flex-basis: 15%;
    padding-top: 10px;
    margin-right: 20px;
}

.popup-play-content .popup-play-content-item .popup-play-content-item-text {
    margin-top: 15px;
    flex-basis: 85%;
}

.popup-play-content .popup-play-content-item .popup-play-content-item-text .popup-play-content-item-text-p {
    font-size: var(--fontSize1);
}


/*POPUP PLAYLIST HERE*/
.popup-playlist-content {
    position: absolute;
    top: calc(100% + 10px);
    right: 10px;
    width: 380px;
    background-color: #151123f4;
    border: 2px solid #151123f4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 20px;
    z-index: 22;
}
.popup-playlist-content .popup-play-content-item, .popup-playlist-content .popup-play-content-item-heading {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.popup-playlist-content .popup-play-content-item {
    cursor: pointer;
}

.popup-playlist-content .popup-play-content-item:hover {
    color: #F46530;
}

.popup-playlist-content .popup-play-content-item .popup-play-content-item-icon {
    flex-basis: 10%;
    padding-top: 12px;
    margin-right: 10px;
}

.popup-playlist-content .popup-play-content-item .popup-play-content-item-text, .popup-playlist-content .popup-play-content-item-heading .popup-play-content-item-text {
    margin-top: 10px;
    flex-basis: 90%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
}

.popup-playlist-content .popup-play-content-item .popup-play-content-item-text .popup-play-content-item-text-p,
.popup-playlist-content .popup-play-content-item-heading .popup-play-content-item-text .popup-play-content-item-text-p {
    font-size: var(--fontSize1);
    padding-top: 14px;
}

.heart-none-hover:hover {
    opacity: 1;
    cursor:default;
}
.tabcontent .song-item-tool .heart-none-hover:hover {
    opacity: 1;
    cursor: default;
}