    .slide-container {
    position: relative;
}
.mySlides2 {
    display: none;
}
.cursor {
    cursor: pointer;
}
.prev2,
.next2 {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next2 {
    right: 1%;
    border-radius: 3px 0 0 3px;
}
.prev2 {
    left: 3%;
}
.prev2:hover,
.next2:hover {
    color: #f46530;
}
.heading-body .text-head-body {
    padding: 3%;
    font-size: 36px;
    font-weight: 400;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 16.66%;
    margin-left: 3%;
}
.column .column-img {
    border-radius: 4%;
}
.column-link-text {
    width: auto;
    height: 70px;
    background-color: #715b5f;
    text-align: center;
}
.column-link-text2 {
    width: auto;
    height: 70px;
    text-align: center;
}
.column-link-text .column-link-text-name,
.column-link-text2 .column-link-text-name {
    font-size: 24px;
    font-weight: 300;
    padding-top: 3%;
}
.column-link-text .column-link-text-artist,
.column-link-text2 .column-link-text-artist {
    font-size: 22px;
    font-weight: lighter;
    padding-top: 2%;
    color: #c0c0c0;
}
.column-hover {
    display: none;
    position: relative;
}
.column-hover .song-hover {
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 1;
}
.column-hover .song-hover .song-link .song-hover-link {
    width: 50px;
    margin-left: 20px;
}
.column-hover .song-hover .song-link .song-hover-link .heart-btn:hover,
.column-hover .song-hover .song-link .song-hover-link .play-btn:hover,
.column-hover .song-hover .song-link .song-hover-link .ellipsis-btn:hover {
    color: #f46530;
}
.column-hover .img-hover .column-hover-img {
    height: 360px;
}
.demo {
    height: 290px;
}
.column-hover .background-hover {
    background-color: rgba(244, 100, 48, 0.699);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.column {
    -webkit-animation: fadeSlideEffect 1s;
    animation: fadeSlideEffect 1s;
}
@-webkit-keyframes fadeSlideEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeSlideEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
