﻿@page "/profile/playlist"
@using Imagekit
@using MUZIC.App.Component.User.Profile
@using MUZIC.App.Utility
@layout ProfileLayout
@inject State state
@inject IJSRuntime _IJSRuntime

<PageTitle>Setting Playlist</PageTitle>

@if (state.Account is not null)
{
    <!-- myplaylist -->
    <div class="tab-myplaylist-inner tab-inner">
        <!-- myplaylist search  -->
    <div class="tab-myplaylist-inner-header">
            <div class="profile-search">
                <input type="text"
                   name="myplaylist-search"
                   class="myplaylist-search"
                   placeholder="Enter keyword" />
                <i class="fal fa-search"></i>
            </div>
        </div>
        <!-- new playlist  label -->
    <div class="tab-myplaylist-inner-list-title">NEW PLAYLIST</div>
        <div class="tab-myplaylist-inner-newplaylist">
            @if (disabled)
            {
                <Loading IsOuter=true />
            }

            <div class="newplaylist-thumbnail-title">
                <div class="newplaylist-thumbnail">
                    <div class="newplaylist-thumbnail-label">Thumbnail</div>
                    <div class="newplaylist-thumbnail-inputfile">
                        @if (disabledThumbnail)
                        {
                            <Loading />
                        }
                        <InputFile type="file" accept="image/*"
                               name="newplaylist-thumbnail-input"
                               class="newplaylist-thumbnail-input" OnChange=@ChangeThumbnail />
                        <img src=@Util.GetImage(Playlist.Thumbnail!, new Transformation().Width(280).Height(50))
                         alt=""
                         class="image-playlist" />
                    </div>
                </div>
                <div class="newplaylist-title">
                    <div class="newplaylist-title-label">Title playlist</div>
                    <div class="newplaylist-title-inputtext">
                        <input type="text"
                           name="newplaylist-title-input"
                           class="newplaylist-title-input"
                           placeholder="Groupforfun" @bind=Playlist.Title />
                    </div>
                </div>
            </div>
            <div class="newplaylist-description">
                <div class="newplaylist-description-label">
                    Description playlist
                </div>
                <textarea @bind=Playlist.Description @bind:event="onchange" name="newplaylist-description-input"
                      class="newplaylist-description-input" placeholder="Enter playlist description"></textarea>
            </div>
            <div class="newplaylist-addsong">
                <div class="newplaylist-addsong-label">Add song to playlist</div>
                <div class="newplaylist-addsong-container">
                    @if (ListChoosen != null && ListChoosen.Count != 0)
                    {
                        <CascadingValue Name="PlaylistPage" Value=@this>
                            @for (var i = 0; i < ListChoosen.Count; i++)
                                {
                                    <NewPlaylistSong SongChoosen=@ListChoosen[i] />
                                }
                        </CascadingValue>
                    }
                </div>
            </div>
            <div class="newplaylist-create">
                <button @onclick="InsertPlaylist" class="btn btn-create-newplaylist">
                    CREATE NEW PLAYLIST
                </button>
            </div>
        </div>


        <!-- my playlist  label -->
    <div class="tab-myplaylist-inner-list-title">MY PLAYLIST</div>
        <div class="tab-myplaylist-inner-list">
            <div class="tab-myplaylist-titles">
                <div class="tab-myplaylist-title">No</div>
                <div class="tab-myplaylist-title">Playlist</div>
                <div class="tab-myplaylist-title">Songs</div>
                <div class="tab-myplaylist-title">Duration</div>
                <div class="tab-myplaylist-title">Date</div>
                <div class="tab-myplaylist-title">Public</div>
                <div class="tab-myplaylist-title">Tool</div>
            </div>

            <div class="tab-myplaylist-list">
                <div class="myplaylist-song-container">
                    @if (ListPlaylist != null && ListPlaylist.Count != 0)
                    {
                        <CascadingValue Name="PlaylistPage" Value=@this>
                            @for (var i = 0; i < ListPlaylist.Count; i++)
                            {
                                <PlaylistCollectionComponent Playlist=@ListPlaylist[i] Number=@(i+1) />
                            }
                        </CascadingValue>
                    }
                    else
                    {
                        <h1 class="component-null">Your account does not has any playlist!</h1>
                    }

                </div>

            </div>
        </div>
    </div>
}
else
{
    @("Account null")
}
@code {
    public List<Playlist> ListPlaylist = new List<Playlist>();
    public Playlist Playlist = new()
        {
            Thumbnail = "/img/upload-cover.jpg",
        };
    public List<SongChoosen> ListChoosen { get; set; } = null!;

    private bool disabled = false;
    private bool disabledThumbnail = false;

    public async Task InsertPlaylist()
    {
        disabled = true;
        await PlaylistService.InsertPlaylist(Playlist, ListChoosen, state.Account!.Username);
        Playlist = new() {
            Thumbnail = "/img/upload-cover.jpg",
        };
        await LoadListPlaylist();
        await LoadListChoosen();
        disabled = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadListPlaylist();
        await LoadListChoosen();
    }

    public void removePlaylist(Playlist playlist)
    {
        ListPlaylist.Remove(playlist);
        StateHasChanged();
    }

    public async Task LoadListPlaylist()
    {
        ListPlaylist = (await PlaylistService.GetCollection(state.Account!.Username))!;
    }

    public async Task LoadListChoosen()
    {
        ListChoosen = await PlaylistService.GetListChoosen(state.Account!.Username, Playlist.Id, 1);
    }

    async Task ChangeThumbnail(InputFileChangeEventArgs e)
    {
        var file = e.File;
        disabledThumbnail = true;
        var res = await Util.UploadFile("/MUZIC/img/", file);
        disabledThumbnail = false;
        Playlist.Thumbnail = res.URL;
    }
}