﻿@page "/profile"
@layout ProfileLayout
@using MUZIC.App.Component.User.Profile
@using MUZIC.Model
@inject State state

<PageTitle>Setting Song</PageTitle>

@if (state.Account is not null)
{
    <!-- mysong -->
    <div class="tab-mysong-inner tab-inner">

        <!-- mysong header -->
    <div class="tab-mysong-inner-header">
            <!-- mysong search  -->
        <div class="profile-search">
                <input type="text"
                   name="mysong-search"
                   class="mysong-search"
                   placeholder="Enter song" />
                <i  class="fal fa-search"></i>
            </div>
            <div class="tab-mysong-inner-header-upload">
                <InputFile accept="audio/*" name="mysong-upload" class="mysong-upload" OnChange=@UploadSong/>
                <button class="btn btn-upload">Upload</button>
                @if (uploadedFile is not null) {
                    <SongCollectionUpload File=@uploadedFile OnClose="CloseUpload" />
                }
            </div>
        </div>

        <!-- mysong container list  -->
        <div class="tab-mysong-inner-list">
            <div class="tab-mysong-titles">
                <div class="tab-mysong-title">No</div>
                <div class="tab-mysong-title">Song</div>
                <div class="tab-mysong-title">Genre</div>
                <div class="tab-mysong-title">Date</div>
                <div class="tab-mysong-title">Public</div>
                <div class="tab-mysong-title">Tool</div>
            </div>
            <div class="tab-mysong-list">
                @if (list != null && list.Count != 0)
                {
                    <CascadingValue Name="listSong" Value=@this>
                        @for (var i = 0; i < list.Count; i++)
                        {
                            <SongCollectionComponent Song=@list[i] Number=@(i+1) />
                        }
                    </CascadingValue>
                }
                else
                {
                    <h1 class="component-null">Your account does not has any song!</h1>
                }
            </div>
        </div>
    </div>


}
else
{
    @("acc null")
}

@code {
    private List<Song>? list;
    private IBrowserFile? uploadedFile = null;

    public void removeItem(int idx)
    {
        list!.RemoveAt(idx);
        StateHasChanged();
    }

    public void UploadSong(InputFileChangeEventArgs e)
    {
        uploadedFile = e.File;
    }

    public async Task CloseUpload(bool refresh)
    {
        uploadedFile = null;
        if (refresh) await LoadListSong();
    }

    protected override async Task OnInitializedAsync()
    {
        if (state.Account != null) await LoadListSong();
    }

    private async Task LoadListSong()
    {
        list = await SongService.GetCollection(state.Account!.Username);
    }

}