.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px;
    background: #0b0f1a;
}

.search-box {
    position: relative;
    max-width: 500px;
    width: 500px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
}

.search-box .search-input {
    width: 100%;
    height: 100%;
    padding: 5px 50px 5px 10px;
    background: #222227;
    color: #fff;
    font-size: 14px;
}

.search-box .search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.search-box .search-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.account .avatar,
.account .sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.account .account-title {
    font-size: 14px;
}

.account .avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.account .avatar-img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.account .sign-in i {
    font-size: 16px;
}

.account .sign-in i:hover {
    cursor: pointer;
    opacity: 0.8;
}

.account .avatar-subnav {
    position: relative;
}

.account .subnav-list {
    position: absolute;
    top: 140%;
    right: 0;
    width: 0px;
    opacity: 0;
    transform: scale(0);
    transform-origin: calc(100% - 15px) top;
    transition: all 0.3s;
}

.account .avatar-subnav:hover .subnav-list {
    width: 150px;
    opacity: 1;
    transform: scale(1);
}

.account .subnav-list:before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #222227;
    position: absolute;
    top: -5px;
    right: 15px;
}

.account .subnav-list:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -35px;
    right: 0;
    cursor: pointer;
}

.account .subnav-list .subnav-list-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    font-size: 16px;
    background-color: #222227dd;
    /* transition: transform 0.5s; */
}

.account .subnav-list .subnav-list-item:hover {
    cursor: pointer;
    background-color: #222227ff;
    /* transform: scale(1.1) translateY(-2px); */
}
