﻿@page "/admin/song"
@using MUZIC.App.Component.Admin.Common
@layout AdminLayout

<Searching OnChange=@OnSearch />
<div class="table-overview">
    <div class="table-overview-header">
        <div class="table-title">
            User management
        </div>
        <div class="header-icon-bar">
            <div class="table-icon">
                <i class="fal fa-sort-amount-up"></i>
                <span>Sort</span>
            </div>
            <div class="table-icon">
                <i class="fal fa-filter"></i>
                <span>Filter</span>
            </div>
        </div>
    </div>
    <div class="overview-table-body">
        <table class="overview-table">
            <thead>
                <tr>
                    <td style="width: 480px">Name / Artist</td>
                    <td>Uploader</td>
                    <td>Genres</td>
                    <td>Duration</td>
                    <td style="width: 0px"></td>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var Song in list)
                {
                    <MUZIC.App.Component.Admin.Song.TableRow Song=Song/>
                }

            </tbody>
        </table>
    </div>
    <div class="table-overview-footer">
        <Paging @ref=paging Count=@totalSong OnChange=@OnPaging />
    </div>
</div>

@code {
    private List<Song> list = new();
    private Paging? paging;
    private int totalSong;
    private string query = "";

    private async Task OnSearch(string value)
    {
        totalSong = await AdminService.GetListSongCnt(query = value);
        await paging!.Reset();
    }

    private async Task OnPaging((int pageId, int itemPer) data)
    {
        list = await AdminService.GetListSong(data.pageId, data.itemPer, query);
    }
}