.media-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 20px;
    background: #282828;
    transition: all 0.7s;
    z-index: 2;
}

.media {
    display: flex;
}

.media:hover {
    cursor: pointer;
    opacity: 0.8;
}

.media .media-thumbnail {
    width: 64px;
    height: 64px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
}

.media .media-content {
    margin-top: 20px;
    padding-left: 10px;
}

.media .media-content-title {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 4px;
}

.media .media-content-author {
    font-size: 14px;
    font-weight: 300;
    color: #999;
}

.media-queue {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 350px;
    background: #1b2039;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    transform: translateX(100%);
}

.media-queue .queue-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.media-queue .queue-close-btn:hover {
    cursor: pointer;
    opacity: 0.8;
    color: #ff1f1f;
}

.media-queue .queue-title {
    text-align: center;
    font-size: 20px;
    margin: 30px 0;
}

.media-queue .list-song {
    background: #252b4d;
    flex: 1;
    max-height: 777px;
    overflow: auto;
}

.media-queue .song-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.media-queue .song-item:hover {
    background: #278aa6;
}

.media-queue .song-img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
}

.media-queue .song-item-content {
    flex: 1;
}

.media-queue .song-item-content .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.media-queue .song-item-content .author {
    font-size: 14px;
    font-weight: 300;
    color: #999;
}

.media-queue .song-item-tool {
    font-size: 20px;
}

.media-queue .song-item-tool i {
    margin: 0 4px;
}

.media-queue .song-item-tool i:hover {
    cursor: pointer;
    opacity: 0.8;
}

.media-queue .queue-btns {
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
}

.player-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.player-control .player-control-btns {
    width: 600px;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-bottom: 12px;
}

.player-control .player-control-btns i {
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
}

.player-control .player-control-btns i:hover {
    cursor: pointer;
    opacity: 0.8;
    border: 1px solid #999;
}

.player-control .progress-bar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.player-control .progress-song-input {
    flex: 1;
    height: 4px;
}

.player-control-volume {
    display: flex;
    align-items: center;
    gap: 4px;
}

.player-control-volume i {
    font-size: 20px;
}

.player-control-volume i:first-child:hover {
    opacity: 0.8;
    cursor: pointer;
}

.player-control-volume .volume-input {
    height: 4px;
}

.toogle-media-player i {
    font-size: 30px;
    margin-left: 20px;
}

.toogle-media-player i:hover {
    cursor: pointer;
    opacity: 0.8;
    color: #0075ff;
}

.media-player.media-player-narrow {
    width: 50px;
    height: 50px;
    left: calc(100% - 50px);
    padding: 0;
    justify-content: center;
}

.media-player.media-player-narrow .media,
.media-player.media-player-narrow .player-control,
.media-player.media-player-narrow .player-control-volume {
    display: none;
}

.media-player.media-player-narrow .toogle-media-player i {
    margin-left: 0;
}
