.song-header {
    position: relative;
}

.song-header .song-background-img {
    background: url("../img/background-img.jpg") top center / cover no-repeat;
    background-color: #cccccc;
    padding-top: 20%;
    opacity: 0.4;
}

.song-header .song-header-content {
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    gap: 30px;
}

.song-header .song-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.song-header .song-content {
    margin-top: 40px;
}

.song-header .song-title {
    font-size: 50px;
    font-weight: 400;
}

.song-header .song-singer {
    margin-top: 20px;
    font-weight: 300;
}

.song-header .song-btns {
    display: flex;
    gap: 20px;
}

.song-header .song-btns-item {
    font-size: 24px;
    color: #f46530;
    margin-top: 20px;
}

.song-header .song-btns-item:hover {
    color: #fff;
    cursor: pointer;
}

.song-main {
    margin: 40px 100px;
}

.song-main .song-main-content {
}

.song-main .title {
    font-size: 30px;
    color: #f46530;
    position: relative;
    display: inline-block;
}

.song-main .title::after {
    content: "";
    position: absolute;
    bottom: -3px; /*position the underline using left and bottom property*/
    left: -2px;
    right: -2px;
    border-bottom: 1px solid #ccc; /* adjust the underline width and color as you like*/
}

.song-main .song-main-text {
    padding: 20px 40px;
    font-size: 18px;
}

.song-main-text p {
    margin-bottom: 20px;
}

.song-main-text span {
    font-weight: bold;
    font-style: italic;
}

.song-main-text .song-lyrics {
    border: 0;
    outline: 0;
    background: transparent;
    padding: 12px 14px;
    width: 100%;
    height: 510px;
    resize: none;
    line-height: 1.8;
    color: #fff;
    font-size: 18px;
}

.song-main-text .comment {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.song-main-content .comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.song-main-content .comment-avatar:hover {
    cursor: pointer;
    opacity: 0.8;
}

.song-main-content .me-comment-input {
    flex: 1;
    background: transparent;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #999;
}

.song-main-content .comment-content {
    flex: 1;
    background: #26272b;
    padding: 8px 16px;
}

.song-main-content .comment-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.song-main-content .comment-content-text {
    font-size: 16px;
}
