﻿<div class="admin-header">
    <div class="header-title">
        <h1>Overview</h1>
    </div>
    <div class="header-icon-bar">
        <div class="bar-icon">
            <i class="fal fa-bell"></i>
        </div>
        <div class="bar-user">
            <div>
                Admin
            </div>
            <div class="bar-user-avatar">
                <div class="user-avatar-line">
                    <i class="fal fa-user-music"></i>
                </div>
            </div>
        </div>
    </div>
</div>
        