﻿<div class="search-container">
    <input class="search-box" @bind=query @bind:event="oninput" @onkeyup=OnSearchChanged type="text" placeholder="Searching..."/>
    <i class="search-icon fal fa-search"/>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnChange { get; set; }
    private string query = "";

    protected override async Task OnInitializedAsync()
    {
        await OnChange.InvokeAsync("");
    }

    private string? prev_query;
    private async Task OnSearchChanged()
    {
        var query_tmp = query.Trim();
        if (prev_query is not null && prev_query == query_tmp) return;
        await OnChange.InvokeAsync(prev_query = query_tmp);
    }
}
