﻿@inject IWebHostEnvironment _env
@inject State state
@using Imagekit
@using MUZIC.App.Pages.User.Profile
@using MUZIC.App.Utility

<!-- upload -->
<div class="tab-mysong-popup-upload-container upload-container">

    @if (disabled)
    {
        <Loading IsOuter=true />
    }

    <div class="tab-mysong-popup-upload popup-upload">
        <div class="popup-upload-header">
            <div class="popup-upload-header-title">Upload</div>
            <i class="fal fa-times exit-button" @onclick="async () => await OnClose.InvokeAsync(false)"></i>
        </div>
        <div class="popup-upload-info">
            <div class="popup-upload-info-upload-bg">
                @if (disabledCover)
                {
                    <Loading />
                }
                <InputFile type="file" name="upload-img-bg" class="upload-img-bg" accept="image/*" OnChange=@ChangeCover />
                <img src=@Util.GetImage(song.Cover!, new Transformation().Width(1182).Height(300))
                     alt=""
                     class="image-background" />
            </div>
            <div class="popup-upload-info-upload-avt-container">
                <div class="popup-upload-info-upload-avt">

                    @if (disabledThumbnail)
                    {
                        <Loading />
                    }

                    <InputFile type="file"
                               name="upload-img-avt"
                               class="upload-img-avt" accept="image/*" OnChange=@ChangeThumbnail />
                    <img src=@Util.GetImage(song.Thumbnail!, new Transformation().Width(180).Height(180))
                         alt=""
                         class="image-avatar" />
                </div>
                <div class="upload-info-content">
                    <div class="upload-info-title">
                        <input type="text" @bind=song.Title placeholder="Song name" disabled=@disabled />
                    </div>
                    <div class="upload-info-singer">
                        <input type="text" @bind=song.Artist placeholder="Artist" disabled=@disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-title-genre">
            <div class="newplaylist-title-label">Genre</div>
            <div class="newplaylist-title-inputtext">
                <input type="text"
                       name="newplaylist-title-input"
                       class="newplaylist-title-input"
                       placeholder="Groupforfun" @bind=song.Genre />
            </div>
        </div>
        <div class="popup-upload-lyrics">
            <div class="popup-upload-description-lyrics">Lyrics</div>
            <textarea @bind=song.Lyrics @bind:event="onchange" name="popup-upload-song-lyrics"
                      id="popup-upload-song-lyrics"
                      class="popup-upload-lyrics-content" placeholder="Enter song lyrics"></textarea>
        </div>
        <div class="popup-upload-description">
            <div class="popup-upload-description-title">Description</div>
            <textarea @bind=song.Description @bind:event="onchange" name="popup-upload-song-description"
                      id="popup-upload-song-description"
                      class="popup-upload-description-content" placeholder="Enter song description"></textarea>
        </div>
        <div class="popup-upload-save">
            <button @onclick="InsertSong" class="btn save-song">SAVE SONG</button>
        </div>
    </div>
</div>

@code {
    private Song song = new()
    {
        Thumbnail = "/img/upload-thumbnail.jpg",
        Cover = "/img/upload-cover.jpg"
    };

    private bool disabled = true;
    private bool disabledThumbnail = false;
    private bool disabledCover = false;

    [Parameter]
    public IBrowserFile File { get; set; } = null!;

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    protected override void OnInitialized()
    {
        song.Username = state.Account!.Username;
        Task.Run(async () =>
        {
            var metadata = await Util.GetSongMetadata(File);
            if (metadata.Title is not null) song.Title = metadata.Title;
            if (metadata.Artist is not null) song.Artist = metadata.Artist;
            if (metadata.Genre is not null) song.Genre = metadata.Genre;
            song.Duration = metadata.Duration;
            disabled = false;
            await InvokeAsync(() => StateHasChanged());
        });
    }

    public async Task InsertSong()
    {
        disabled = true;
        var res = await Util.UploadFile("/MUZIC/song/", File);
        song.Src = res.URL;
        await SongService.Create(song);
        await OnClose.InvokeAsync(true);
        disabled = false;
    }

    async Task ChangeCover(InputFileChangeEventArgs e)
    {
        disabledCover = true;
        var file = e.File;
        var res = await Util.UploadFile("/MUZIC/img/", file);
        song.Cover = res.URL;
        disabledCover = false;
    }

    async Task ChangeThumbnail(InputFileChangeEventArgs e)
    {
        disabledThumbnail = true;
        var file = e.File;
        var res = await Util.UploadFile("/MUZIC/img/", file);
        song.Thumbnail = res.URL;
        disabledThumbnail = false;
    }
}
