﻿@inject State state
@using Imagekit
@using MUZIC.App.Utility

<!-- edit -->
<div class="tab-mysong-popup-edit-container edit-container ">

    @if (disabled)
    {
        <Loading IsOuter=true />
    }

    <div class="tab-mysong-popup-edit popup-edit">
        <div class="popup-edit-header">
            <div class="popup-edit-header-title">EDIT</div>
            <i @onclick=OnClose class="fal fa-times exit-button"></i>
        </div>
        <div class="popup-edit-info">
            <div class="popup-edit-info-upload-bg">

                @if (disabledCover)
                {
                    <Loading />
                }

                <InputFile type="file" name="upload-img-bg" class="upload-img-bg" accept="image/*" OnChange=@ChangeCover />
                <img src=@Util.GetImage(Song.Cover!, new Transformation().Width(1182).Height(300))
                     alt=""
                     class="image-background" />
            </div>
            <div class="popup-edit-info-upload-avt-container">
                <div class="popup-edit-info-upload-avt">

                    @if (disabledThumbnail)
                    {
                        <Loading />
                    }

                    <InputFile type="file"
                               name="upload-img-avt"
                               class="upload-img-avt" accept="image/*" OnChange=@ChangeThumbnail />
                    <img src=@Util.GetImage(Song.Thumbnail!, new Transformation().Width(180).Height(180))
                         alt=""
                         class="image-avatar" />
                </div>
                <div class="edit-info-content">
                    <div class="edit-info-title">
                        <input type="text" @bind=Song.Title />
                    </div>
                    <div class="edit-info-singer">
                        <input type="text" @bind=Song.Artist />
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-title-genre">
            <div class="newplaylist-title-label">Genre</div>
            <div class="newplaylist-title-inputtext">
                <input type="text"
                       name="newplaylist-title-input"
                       class="newplaylist-title-input"
                       placeholder="Groupforfun" @bind=Song.Genre />
            </div>
        </div>
        <div class="popup-edit-lyrics">
            <div class="popup-edit-description-lyrics">Lyrics</div>
            <textarea @bind=Song.Lyrics @bind:event="onchange" name="popup-edit-song-lyrics"
                      id="popup-edit-song-lyrics"
                      class="popup-edit-lyrics-content" placeholder="Enter song lyrics"></textarea>
        </div>
        <div class="popup-edit-description">
            <div class="popup-edit-description-title">Description</div>
            <textarea @bind=Song.Description @bind:event="onchange" name="popup-edit-song-description"
                      id="popup-edit-song-description"
                      class="popup-edit-description-content" placeholder="Enter playlist description"></textarea>
        </div>
        <div class="popup-edit-save">
            <button @onclick="UpdateSong" class="btn save-song">SAVE SONG</button>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Song Song { get; set; } = null!;

    private bool disabled = false;
    private bool disabledThumbnail = false;
    private bool disabledCover = false;

    [Parameter]
    public EventCallback OnClose { get; set; }

    async Task UpdateSong()
    {
        disabled = true;
        await SongService.UpdateSongCollection(Song);
        await OnClose.InvokeAsync();
        disabled = false;
    }

    async Task ChangeCover(InputFileChangeEventArgs e)
    {
        var file = e.File;
        disabledCover = true;
        var res = await Util.UploadFile("/MUZIC/img/", file);
        disabledCover = false;
        Song.Cover = res.URL;
    }

    async Task ChangeThumbnail(InputFileChangeEventArgs e)
    {
        var file = e.File;
        disabledThumbnail = true;
        var res = await Util.UploadFile("/MUZIC/img/", file);
        disabledThumbnail = false;
        Song.Thumbnail = res.URL;
    }
}
