﻿<div class="bot-overview">
    <div class="bot-table">
        <div class="left-table-header">
            <div class="header-left">
                <div class="bot-table-title">
                    Feedbacks
                </div>
                <span class="bot-table-sub-title">
                    Group: 
                    <span  style="color: #4B506D">Support</span>
                </span>
            </div>
            <a class="header-right right-side-style-1" href="/admin/feedback">
                See more
            </a>
        </div>
        <div class="bot-table-row">
            <div class="left-side left-side-style-1">
                #Unseen feedbacks
            </div>
            <div class="right-side right-side-style-1">
                @DashboardMetric.today_feedback_view
            </div>
        </div>
        @foreach(var s in li)
        {
        <div class="bot-table-row">
            <div class="left-side left-side-style-2">
                @s
            </div>
        </div>
        }
    </div>
    <div class="bot-table">
        <div class="left-table-header">
            <div class="header-left">
                <div class="bot-table-title">
                    Summary
                </div>
                <span class="bot-table-sub-title">
                    Last update: 18-03-2022 17:13
                </span>
            </div>
            <a class="header-right right-side-style-1" href="#">
                            
            </a>
        </div>
        <div class="bot-table-row">
            <div class="left-side left-side-style-1">
                Total song views
            </div>
            <div class="right-side right-side-style-1">
                @DashboardMetric.total_song_view
            </div>
        </div>
        <div class="bot-table-row">
            <div class="left-side left-side-style-1">
                Total playlist views
            </div>
            <div class="right-side right-side-style-2">
                @DashboardMetric.total_playlist_view
            </div>
        </div>
        <div class="bot-table-row">
            <div class="left-side left-side-style-1">
                Total favorites
            </div>
            <div class="right-side right-side-style-2">
                @DashboardMetric.total_favorite
            </div>
        </div>
        <div class="bot-table-row row-style-2">
            <div class="left-side left-side-style-1">
                Total genres
            </div>
            <div class="right-side right-side-style-2">
                @DashboardMetric.total_genres
            </div>
        </div>
    </div>
</div>
               

@code {
    [Parameter]
    public DashboardMetric DashboardMetric { get; set; } = null!;
    List<string> li = new();


    protected override async Task OnInitializedAsync()
    {
        li = await AdminService.GetDashboardFeedback();
    }

}
            