﻿@using MUZIC.App.Utility
<tr>
    <td class="card-container">
        <div class="card-image-container" >
            <img class="card-image" 
            src=@Util.GetImage(Song.Thumbnail, new Imagekit.Transformation().Width(44).Height(44)) />
        </div>
        <div class="card-info" >
            <div class="card-name" style="transition: 0.3s; @(Song.Status == 1 ? "color: #ff000088;text-decoration: line-through;" : "")">
                <a href="/song/@(Song.Id)" target="_blank">
                    @Song.Title
                </a>
            </div>
            <div class="card-desc">
                @Song.Artist
            </div>
        </div> 
    </td>
    <td>
        <div class="card-info">
            <div class="card-name">
                @if (Account is not null) 
                    @Account.DisplayName
                else
                    @("Deleted user")
            </div>
            <div class="card-desc">
                ID: @Song.Username
            </div>
        </div> 
    </td>
    <td>
        <div class="card-info">
            <div class="card-name">
                @Song.Genre
            </div>
            <div class="card-desc">
                on @Song.Date
            </div>
        </div> 
    </td>
    <td>
        <div class="card-info">
            <div class="card-name">
                @Util.TimeFormat(Song.Duration)
            </div>
            <div class="card-desc">
                10.07 MB
            </div>
        </div> 
    </td>
    <td>
        <div class="list">
            <a class="toggler" href="javascript:void(0);">
                <i class="fal fa-ellipsis-v"></i>
            </a>
            <ul class="list-data">
                <ul class="list-data">
                <a href="javascript:void(0);">
                    <li class="list-item" @onclick="async () => await ChangeStatus(0)">Normal</li>
                </a>
                <a href="javascript:void(0);">
                    <li class="list-item" @onclick="async () => await ChangeStatus(1)">Ban</li>
                </a>
            </ul>
            </ul>
        </div>
    </td>
</tr>


@code {
    [Parameter]
    public Song Song{ get; set; } = null!;
    Account Account = new();

    protected override async Task OnInitializedAsync()
    {
        Account = await AccountService.Get(Song.Username);
    }

    public async Task ChangeStatus(int status)
    {
        if (Song.Status == status) return;
        await AdminService.UpdateSongStatus(Song.Id, status);
        Song.Status = status;
    }
}