:root {
    --background: #16151a;
    --orange: #f46530;
    --green: #25a56a;
    --gray: #61616e;
    --lightWhite: #c0c0c0;
    --fontSize1: 18px;
    --fontSize2: 13px;
    --fontSize3: 13px;
    --lightGray: #222227;
}
