﻿.paging-container {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.paging-rows-ctn {
    display: flex;
    gap: 1rem;
}

.paging-row {
    background: #ece2e223;
    border-radius: .5rem;
}

.paging-row:hover {
    background: #ece2e269;
}

.paging-row:focus {
    background: #eee5e5;
    outline: 2px solid #3862DF;
}

.paging-navigator {
    display: flex;
    gap: 1rem;
}

.paging-navigator > .nav-data {
    display: flex;
    gap: 1rem;
}

.paging-navigator > .nav-move {
    display: flex;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
}


.nav-move > i {
    width: 15px;
    transition: .3s;
}

.nav-move > i.active {
    cursor: pointer;
    font-weight: bold;
}

.nav-move > i.active:hover {
    color: #3862DF;
}