﻿.search-container, .search-container > * {
    transition: .4s;
}

.search-container {
    max-width: 300px;
    border-radius: 10px;
    background: white;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .5rem 1rem;
    outline: 2px solid white;
}

.search-container:hover {
    outline-color: #3862DF55;
}

.search-container:focus-within {
    outline-color: #3862DF;
}

.search-box:focus {
    outline: none;
}

.search-box {
    background: transparent;
    width: 100%;
    height: 20px;
}

.search-icon:hover {
    cursor: pointer;
    color: rgb(66, 94, 176);
}