﻿<div class="slideshow-container">
	<div class="mySlides fade">
		<img src="/img/thumnail-slideshow.png" alt="" class="mySlides-img">
		<div class="text-heading">Record Label & Music streaming</div>
		<div class="text-paragraph">

			Music is an important part of our life as it is a way of expressing our feelings as well as emotions.
			Some people consider music as a way to escape from the pain of life. It gives you relief and allows you to reduce the stress

		</div>
		<div class="btn-slide">
			<a class="btn-slide-1" href="#">
				<p class="btn-slide-text">ADD TO PLAYLIST</p>
			</a>
			<a class="btn-slide-2" href="#">
				<p class="btn-slide-text">LISTEN NOW</p>
			</a>
		</div>
	</div>
	<div class="mySlides fade">
		<img src="/img/background-img.jpg" alt="" class="mySlides-img">
		<div class="text-heading">Record Label & Music streaming</div>
		<div class="text-paragraph">

			Music is an important part of our life as it is a way of expressing our feelings as well as emotions.
			Some people consider music as a way to escape from the pain of life. It gives you relief and allows you to reduce the stress

		</div>
		<div class="btn-slide">
			<a class="btn-slide-1" href="#">
				<p class="btn-slide-text">ADD TO PLAYLIST</p>
			</a>
			<a class="btn-slide-2" href="#">
				<p class="btn-slide-text">LISTEN NOW</p>
			</a>
		</div>
	</div>
	<div class="mySlides fade">
		<img src="/img/upload-cover.jpg" alt="" style="" class="mySlides-img">
		<div class="text-heading">Record Label & Music streaming</div>
		<div class="text-paragraph">

			Music is an important part of our life as it is a way of expressing our feelings as well as emotions.
			Some people consider music as a way to escape from the pain of life. It gives you relief and allows you to reduce the stress

		</div>
		<div class="btn-slide">
			<a class="btn-slide-1" href="#">
				<p class="btn-slide-text">ADD TO PLAYLIST</p>
			</a>
			<a class="btn-slide-2" href="#">
				<p class="btn-slide-text">LISTEN NOW</p>
			</a>
		</div>
	</div>

	<a class="prev" onclick="plusSlides(-1)"><i class="fal fa-arrow-left"></i></a>
	<a class="next" onclick="plusSlides(1)"><i class="fal fa-arrow-right"></i></a>

	<div style="text-align:center">
		<span class="dot dot1" onclick="currentSlide(1)"></span>
		<span class="dot dot2" onclick="currentSlide(2)"></span>
		<span class="dot dot3" onclick="currentSlide(3)"></span>
	</div>
</div>

@code {

}
