﻿@using Imagekit
@using MUZIC.App.Utility
@using MUZIC.App.Component.User.Home;

@if (Playlists is not null)
{
    <CascadingValue Name="AddPlaylists" Value=@this>

        <div class="slide-container">
            <div class="heading-body">
                <p class="text-head-body" id="defaultSlide">@Text</p>
            </div>
            @if (Playlists is not null)
        {
            @if (Playlists.Count == 10)
            {
                @if (OneSlide)
                {
                    <a class="prev2" onclick="plusSlides3(@SlideNumber)">
                        <i class="fas fa-chevron-circle-left fa-3x prev-icon"></i>
                    </a>
                    <a class="next2" onclick="plusSlides3(@SlideNumber)">
                        <i class="fas fa-chevron-circle-right fa-3x prev-icon"></i>
                    </a>
                }
                else
                {
                    <a class="prev2" onclick="plusSlides2(@SlideNumber)">
                        <i class="fas fa-chevron-circle-left fa-3x prev-icon"></i>
                    </a>
                    <a class="next2" onclick="plusSlides2(@SlideNumber)">
                        <i class="fas fa-chevron-circle-right fa-3x prev-icon"></i>
                    </a>
                }

            }
            <div class="row">
                @if (Playlists.Count == 10)
                {
                    @for (int i = 0; i < @Playlists.Count; i++)
                    {
                        @if ((i % 10) < 5)
                        {
                            <PlaylistSlideComponentPlaylist Playlist=@Playlists[i] />
                        }
                        else
                        {
                            <PlaylistSlideComponentPlaylist Playlist=@Playlists[i] Display="none" />
                        }
                    }
                }
                else
                {
                    @if (Playlists.Count <= 5)
                    {
                        @for (int i = 0; i < @Playlists.Count; i++)
                        {
                            <PlaylistSlideComponentPlaylist Playlist=@Playlists[i] />
                        }
                    }
                    else
                    {
                        @for (int i = 0; i < 5; i++)
                        {
                            <PlaylistSlideComponentPlaylist Playlist=@Playlists[i] />
                        }
                    }
                }
            </div>
        }
    </div>
</CascadingValue>

}
else
{
    <p>Oops Something went wrong.....</p>
}

@code {
    [CascadingParameter(Name = "listPlaylist")]
    public Index? ListPlaylist { get; set; } = null!;

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public List<Playlist>? Playlists { get; set; } = null;

    [Parameter]
    public int SlideNumber { get; set; } = 1;

    [Parameter]
    public bool OneSlide { get; set; } = false;
}
