﻿@inject Mp3 mp3

<div class="popup-play-content">
    <div class="popup-play-content-item" @onclick=@PlayPlaylist>
        <div class="popup-play-content-item-icon">
            <i class="fas fa-play @IconSize"></i>
        </div>
        <div class="popup-play-content-item-text">
            <p class="popup-play-content-item-text-p">Play</p>
        </div>
    </div>
    <div class="popup-play-content-item" @onclick=@AddPlaylistCurrentQueue>
        <div class="popup-play-content-item-icon">
            <i class="fas fa-plus @IconSize"></i>
        </div>
        <div class="popup-play-content-item-text">
            <p class="popup-play-content-item-text-p">Add to queue</p>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public TopPlaylist Playlist { get; set; } = null!;
    [Parameter]
    public EventCallback OnClose { get; set; }
    
    [Parameter]
    public string IconSize { get; set; }= "fa-2x";

    public List<Song> Songs = null!;

    protected override async Task OnInitializedAsync()
    {
        Songs = await PlaylistService.GetSongs(Playlist.Id);
    }

    public async Task PlayPlaylist()
    {
        await mp3.PlayPlaylist(Songs);
        await OnClose.InvokeAsync();
    }

    public async Task AddPlaylistCurrentQueue()
    {
        await mp3.AddPlaylist(Songs);
        await OnClose.InvokeAsync();
    }
}
