﻿@using Imagekit
@using MUZIC.App.Utility
@using MUZIC.App.Component.User.Home;
@inject State state
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<div class="column" id="column-content" style=@Style>
    <div class="column-img" id="columnimage">
        <img class="demo cursor" id="img-song-slide"
             src=@Util.GetImage(Song.Thumbnail!, new Transformation().Width(219).Height(290)) style="width:100%"
             alt="Mưa - Trung Quân">
    </div>
    <div class="column-link-text" id="columntext">
        <p class="column-link-text-name">@Song.Title</p>
        <p class="column-link-text-artist">@Song.Username</p>
    </div>
    <div class="column-hover" id="hoverstate">
        <div class="img-hover">
            <img class="column-hover-img cursor"
                 src=@Util.GetImage(Song.Thumbnail!, new Transformation().Width(219).Height(290)) style="width:100%"
                 alt="Mưa - Trung Quân">
        </div>
        <div class="song-hover">
            <div class="song-link">
                @if (state.Account is not null)
                {
                    <div class="song-hover-link" @onclick=@SwitchFavoriteIcon>
                        <i class="@FavoriteIcon fal fa-heart fa-2x heart-btn"></i>
                    </div>
                }
                else
                {
                    <div class="song-hover-link">
                        <i class="@FavoriteIcon fal fa-heart fa-2x heart-none-hover"></i>
                    </div>
                }
                <div class="song-hover-link" @onclick=@SwitchActivePopup>

                    <i class="fal fa-play-circle fa-4x play-btn"></i>

                </div>
                <div class="song-hover-link">

                    <i class="fal fa-ellipsis-h fa-3x ellipsis-btn"></i>

                </div>
            </div>
            <div class="column-link-text2" @onclick=@GoToSong>
                <p class="column-link-text-name">@Song.Title</p>
                <p class="column-link-text-artist">@Song.Username</p>
            </div>
            <div class="background-hover" @onclick=@GoToSong></div>

        </div>
        @if (@ActiveAdd)
        {
            <PlayPopupSong Song=@Song OnClose=@SwitchActivePopup />
        }
    </div>

</div>



@code {

    [CascadingParameter(Name = "AddSongs")]
    public SongSlideComponent AddSongs { get; set; } = null!;

    [Parameter]
    public Song Song { get; set; } = null!;

    [Parameter]
    public string Display { get; set; } = "all";

    public string Style = "";

    public bool ActiveAdd = false;

    public string FavoriteIcon { get; set; } = "fal";

    public bool IsFavorite = false;

    public void SwitchActivePopup()
    {
        ActiveAdd ^= true;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        if (state.Account is not null)
        {
            await GetFavorite();
        }

        if (Display != "all")
        {
            Style = "display:none;";
        }
    }

    public async void SwitchFavoriteIcon()
    {
        if (IsFavorite)
        {
            FavoriteIcon = "fal";
            await FavoriteService.disableSong(state.Account!.Username, Song.Id);
        }
        else
        {
            FavoriteIcon = "fas";
            await FavoriteService.enableSong(state.Account!.Username, Song.Id);
        }
        IsFavorite ^= true;
    }

    private async Task GetFavorite()
    {
        bool? type = await FavoriteService.IsSongFavorited(state.Account!.Username, Song.Id);
        if (type == true)
        {
            IsFavorite = true;
            FavoriteIcon = "fas";
        }
        else if (type == false)
        {
            IsFavorite = false;
            FavoriteIcon = "fal";
        }
    }

    public void GoToSong()
    {
        NavigationManager.NavigateTo($"/song/{Song.Id}");
    }
}
