﻿@using MUZIC.App.Utility
@using Imagekit

<div id="@Genre" class="tabcontent">
    @if (Songs is not null)
    {
        <CascadingValue Name="TabSongItem" Value=@this>
            @for (var i = 0; i < @Songs.Count; i++)
        {
            <TabSongItem Index=@i Song=@Songs[i] SearchState=@SearchState/>
        }
    </CascadingValue>
    }
    else
    {
        <div><p>No data......</p></div>
    }
</div>

@code {
    [CascadingParameter(Name = "TabSong")]
    public Index? IndexPage { get; set; } = null!;

    [Parameter]
    public string? Genre { get; set; }

    [Parameter]
    public bool SearchState { get; set; } = false;

    [Parameter]
    public List<Song>? Songs { get; set; }

}
